
div{

    border:solid;
    margin: 10px;
}

.nav li{
    display: inline;
}

.nav a{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav a:hover{
    text-decoration: underline;
    background-color: white;
    color: black;



}


.nav{
    background-color: black;
    color: white;
}
