div{
    border: 1px solid black;
    padding: 10px
    

    
}

.container{
    display: flex;
}
.innhold{
    display: flex;
    min-height: 300px;
    margin: 10px;
    justify-content: center;
    background-color: aquamarine;
    color: aquamarine;
}

.first{
    width: 300px;
    
}
.second{
    width: 300px;
    
}
.topp{
    color: chocolate;
}
.nav a{color: chocolate;
    list-style-type: none;
    }
body{background-color: chocolate;}

@media screen and (max-width: 500px) {
    body {
    background-color: lightgreen;
    font-size: 20px;
    
    }
    .innhold{
        color: black;
        background-color: red;
    }
      
    .topp{
        color: rgb(9, 9, 9);
       }
    .fake{
        color: lightgreen;
    }
    .nav li{
        display: inline;
        
    }
    
    .nav a{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 7px;
        padding-bottom: 7px;
        
        text-decoration: none;
        font-size: 150%;
        color: black;
       
        font-weight: bold;
        border-radius: 30px;
    }
    .nav a:hover{
        text-decoration: underline;
        background-color: white;
        color: black;
    
    
    
    }
    
    .nav{
        background-color: chocolate;
        border-radius: 30px;
    }
    
  }
